

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 200px;
}


.parent{
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    border-radius: 15px;


    perspective: 300px;
    transform: rotateY(40deg);
    
    transform-style: preserve-3d;

}


.box {
    border-radius: 15px;
    height: 150px;
    width: 150px;
    background: linear-gradient(blue, cyan);

    transition: all .1s ease;
    /* transform-origin: 50% 50%; */

    transform: rotateX(30deg); 
    /* transform: rotate(0deg);  */


    
    animation-name: effect;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation-timing-function: ease;


    transform: rotateX(180deg);
    
}


@keyframes effect{
    0%{
        width: 0px;
    }

    100%{
        width: 100%;
    }

}
